BasedOnStyle: Chromium
IndentWidth: 4
Language: Cpp
Standard: c++14
ColumnLimit: 160
SortIncludes: true
DerivePointerAlignment: false
PointerAlignment: Left
NamespaceIndentation: All
MaxEmptyLinesToKeep: 1
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  AfterCaseLabel: true
AllowShortFunctionsOnASingleLine: None